# spring.application.name=ims

spring:
  application:
    name: ims

  # import external secrets file
  config:
    import: optional:file:./secrets.yml

  # database
  datasource:
    url: ${db.url}
    username: ${db.username}
    password: ${db.password}
    driver-class-name: org.postgresql.Driver

  # jpa/hibernate
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
